table.tanstack-table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  /* border-collapse: collapse; */
  @apply border-collapse;
  @apply w-full;
  @apply bg-primary;
  @apply text-primary;
}

table.tanstack-table thead
{
  @apply top-0;
  @apply bg-gray-400;
}
table.tanstack-table thead th > div {
  @apply bg-primary;
  @apply h-full;
  @apply w-full;
  @apply p-2;
}
table.tanstack-table thead th {
  @apply pr-[1px];
}
table.tanstack-table tfoot {
  @apply bottom-0;
  @apply bg-primary/50;
}

table.tanstack-table thead,
table.tanstack-table tfoot {
  @apply text-primary-foreground;
  @apply sticky;
  @apply z-10;
}

table.tanstack-table td,
table.tanstack-table th {
  border: none;
  /* border: 1px solid #ddd; */
  box-shadow:
    0 0 2px #ddd,
    0 0 2px #ddd,
    0 0 2px #ddd,
    0 0 2px #ddd;
  /* @apply p-2 */
  /* padding: 18px; */
}

table.tanstack-table tbody tr:nth-child(odd) {
  @apply bg-white/90;
  @apply hover:bg-white/70;
}

table.tanstack-table tbody tr:nth-child(even) {
  @apply bg-white;
  @apply hover:bg-white/80;
  /* background-color: #f2f2f2; */
}

/* table.tanstack-table tbody tr:hover {
  @apply bg-primary/10;

} */

table.tanstack-table th, tfoot td {
  /* padding-top: 12px;
  padding-bottom: 12px; */
  @apply text-center;
  @apply bg-transparent;
  
  /* background-color: #4caf50; */

}