table.tanstack-table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  /* border-collapse: collapse; */
  @apply border-collapse;
  @apply w-full;
  @apply bg-primary;
  @apply text-primary;
}

table.tanstack-table thead,
table.tanstack-table tfoot {
  @apply text-primary-foreground
}

table.tanstack-table td,
table.tanstack-table th {
  border: none;
  /* border: 1px solid #ddd; */
  box-shadow: 0 0 2px #ddd, 0 0 2px #ddd, 0 0 2px #ddd, 0 0 2px #ddd;  
  @apply p-2
  /* padding: 18px; */
}

table.tanstack-table tbody tr:nth-child(odd) {
  @apply bg-white/80;
  @apply hover:bg-white/50;
}

table.tanstack-table tbody tr:nth-child(even) {
  @apply bg-white;
  @apply hover:bg-white/50;
  /* background-color: #f2f2f2; */
}

/* table.tanstack-table tbody tr:hover {
  @apply bg-primary/10;

} */

table.tanstack-table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  @apply bg-transparent;
  
  /* background-color: #4caf50; */

}